<p id="notice"><%= notice %></p>

<h1>Scores</h1>

<table>
  <thead>
    <tr>
      <th>Home team</th>
      <th>Visitor team</th>
      <th>Home teams score</th>
      <th>Visitor teams score</th>
      <th>Overtime</th>

      <th>Winner team</th>
      <th>Points for winner team</th>

      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @scores.each do |score| %>
      <tr data-score-id="<%= score.id %>">
        <td data-score-attribute="home_team"><%= team_full_name(score.home_team) %></td>
        <td data-score-attribute="visitor_team"><%= team_full_name(score.visitor_team) %></td>
        <td data-score-attribute="home_goals"><%= score.home_goals %></td>
        <td data-score-attribute="visitor_goals"><%= score.visitor_goals %></td>
        <td data-score-attribute="overtime"><%= score.overtime %></td>

        <td data-score-attribute="winner_team"><b><%= team_full_name(score.winner_team) %><b></td>
        <td data-score-attribute="points_for_winner_team"><%= score.points_for_winner_team %></td>

        <td><%= link_to 'Show', score %></td>
        <td><%= link_to 'Edit', edit_score_path(score) %></td>
        <td><%= link_to 'Destroy', score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score', new_score_path %>
